*,v
/LimitedSessionsPlugin.md5
/LimitedSessionsPlugin.sha1
/LimitedSessionsPlugin.tgz
/LimitedSessionsPlugin.txt
/LimitedSessionsPlugin.zip
/LimitedSessionsPlugin_installer
/LimitedSessionsPlugin_installer.pl

